*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.numbers{
    border: solid white 3px;
    border-radius: 10px;
    padding: 20px;
}

.dnone{
    display: none;
}
